html, body {
    background: #010101;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    all: unset;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

header nav section span {
    cursor: pointer;
}

header nav section span h4 {
    font-weight: normal;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

header nav section span h4:hover {
    scale: 1.1;
}

header nav section span h4:after {
    content: "";
    bottom: 0;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

header nav section span h4:hover:after {
    width: 100%;
    left: 0;
}

.menu-icon-container {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.menu-icon {
    cursor: pointer;
}

.menu-icon:hover {
    scale: 1.1;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


@media (max-width: 860px) {
    h1 {
        font-size: 4rem;
    }

    .nav-items {
        display: none;
    }

    .menu-icon-container {
        display: flex;
    }
}
